.coupon {
    width: 100%;
    min-height: 150px;
    background: white;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    padding: 16px;
    cursor: pointer;

    @media screen and (max-width: 481px) {
        border-radius: 8px;
        min-height: 100%;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.01) !important;
    }

    &::before,
    &::after {
        top: 50px;
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: #f0f0f0;
        border-radius: 50%;

        @media screen and (max-width: 481px) {
            width: 15px;
            height: 15px;
            top: 33px;
        }
    }

    &::before {
        left: -20px;

        @media screen and (max-width: 481px) {
            left: -10px;
        }
    }

    &::after {
        right: -20px;

        @media screen and (max-width: 481px) {
            right: -10px;
        }
    }
}

.coupon {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 481px) {
        padding: 0;
    }

    &__top {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 16px;

        @media screen and (max-width: 481px) {
            padding: 8px;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-image: linear-gradient(to right, #f0f0f0 50%, transparent 50%);
            background-size: 25px;

            @media screen and (max-width: 481px) {
                height: 1px;
                background-size: 15px;
            }
        }
    }

    &__icons {
        display: flex;
        gap: 8px;

        @media screen and (max-width: 481px) {
            gap: 4px;
        }
    }

    &__badges {
        padding: 8px 16px;
        border-radius: 8px;
        background: #53c2e4;

        @media screen and (max-width: 481px) {
            font-size: 16px;
            padding: 2px 8px;
            border-radius: 2px;
        }

        &-wrapper {
            display: flex;
            align-items: center;
            gap: 8px;

            @media screen and (max-width: 481px) {
                gap: 4px;
            }
        }
    }

    &__bottom {
        @media screen and (max-width: 481px) {
            display: flex;
        }

        @media screen and (min-width: 482px) {
            display: flex;
            flex-direction: column;
        }
    }
}

.icons-coupon {
    &__icon {
    }
}

.icon--new {
}

.icon--limitedTime {
}

.badges-coupon {
    &__badge {
        text-align: center;
        color: white;
    }
}

.coupons__wrapper {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    @media screen and (max-width: 481px) {
        gap: 10px;
    }
}

.coupon {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.01);
    transition: all 0.3s ease;

    &__content {
        @media screen and (max-width: 481px) {
            display: flex;
            gap: 10px;
            padding: 8px 0 8px 8px;
        }
    }

    &__actions {
        display: flex;
        gap: 14px;
        align-items: center;
    }

    &:is(:hover, :focus-visible) {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.03);
    }
}

.content-coupon {
    margin-top: 32px;

    @media screen and (max-width: 481px) {
        margin-top: 0;
    }

    &__logo {
        display: flex;
        justify-content: center;
        width: 100%;
        min-height: 150px;

        @media screen and (max-width: 481px) {
            min-height: 100%;
            width: 95px;
            height: 50px;
            justify-content: flex-start;
        }
    }

    &__logo-img {
        width: 100%;
        height: 80px;
        object-fit: contain;

        @media screen and (max-width: 481px) {
            width: 95px;
            height: 50px;
            object-fit: contain;
        }
    }

    &__text {
        text-align: center;
        font-size: 1.7rem;
        font-weight: 500;
        min-height: 90px;

        @media screen and (max-width: 481px) {
            font-size: 14px;
            min-height: 100%;
            text-align: start;
            font-weight: 400;
            line-height: 18px;
        }
    }
}

.actions-coupon {
    &__button {
    }
}

.button--offer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: $color-dark;
    color: white;
    font-size: 1.8rem;
    flex: 1;
    width: 100%;
    text-align: center;
    font-weight: 500;
    border-radius: 12px;
}

.button--like {
    display: flex;
    z-index: 100;
    justify-content: flex-end;

    & {
        @media screen and (max-width: 481px) {
            padding: 8px;
            padding-left: 16px;
        }
    }

    & svg {
        @media screen and (max-width: 481px) {
            width: 20px;
            height: 20px;
        }
    }

    @media screen and (max-width: 481px) {
        align-items: flex-end;
    }
}

.button--like.button--like-clicked svg,
.button--like.button--like-clicked svg stroke {
    fill: #fc493c;
    stroke: #fc493c !important;
}

.button--like-clicked {
    stroke: #fc493c;
}
