.coupons {
    &__content {
    }
}
.step-2-heading {
    @media screen and (max-width: 481px) {
        font-size: 18px !important;
    }
}

.coupons-content {
    margin: 16px 0;

    &__heading {
        font-size: 3rem;
        margin-bottom: 4px;
        font-weight: 500;

        @media screen and (max-width: 481px) {
            font-size: 24px;
        }
    }

    &__text {
        display: inline-block;
        color: $color-grey;
        font-style: normal;
        line-height: 120%;

        @media screen and (max-width: 481px) {
            font-size: 14px;
        }
    }

    &__text--link {
        text-decoration-line: underline;
    }
}

.coupons {
    &__filter {
        background: white;
        cursor: pointer;
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.01);
        transition: all 0.4s ease;

        &:is(:hover, :focus-visible) {
            box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.03);
        }

        @media screen and (max-width: 481px) {
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.01) !important;
        }
    }
}

.filter-coupon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 16px;

    @media screen and (max-width: 481px) {
        border-radius: 8px;
        padding: 16px 8px;
    }

    &__item {
    }

    &__categories {
    }
}

.filter {
    display: flex;
    align-items: center;
    gap: 8px;

    &__img {
        @media screen and (max-width: 481px) {
            width: 20px;
            height: 20px;
        }

        & img {
            width: 30px;
            height: 30px;

            @media screen and (max-width: 481px) {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__heading {
        font-size: 2rem;
        text-align: center;
        font-weight: 500;

        @media screen and (max-width: 481px) {
            font-size: 16px;
        }
    }
}

.categories-filter {
    &__text {
        color: $color-grey;

        @media screen and (max-width: 481px) {
            font-size: 14px;
        }
    }

    &__counter {
    }
}

.coupons {
    &__categories {
    }
}

.category {
    height: 0;
    opacity: 0;
    padding: 8px;
    visibility: hidden;
    background: white;
    border-radius: 8px;
    margin: 8px 0;
    transition: all 0.5s ease;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.01);

    &__form {
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        height: 250px;
        overflow: scroll;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 3px;
    }

    &__item-input {
        width: 30px;
        display: none;
    }

    &__item-label {
        font-size: 14px;
    }
}

.category--clicked {
    opacity: 1;
    height: 100%;
    visibility: visible;
}

.category__item-input:checked ~ .category__item-label {
    background: #0b1215;
    color: white;
}

.category__item-label {
    border: 1px solid #0b1215;
    border-radius: 30px;
    padding: 10px;
    color: #0b1215;
    transition: all 0.4s ease;
    cursor: pointer;

    &:hover {
        background: #0b1215;
        color: white;
    }
}
